Source: supergfxctl-plasmoid
Section: admin
Priority: optional
Maintainer: Ward Nakchbandi <hotrod.master@hotmail.com>
Build-Depends: debhelper (>= 10),
               dh-translations,
               build-essential,
               cmake, 
               extra-cmake-modules,
               g++,
               libkf5i18n-dev,
               libkf5plasma-dev,
               qtdeclarative5-dev
Standards-Version: 4.1.1

Package: plasma-supergfxctl
Architecture: linux-any
Depends: hicolor-icon-theme,
         kde-plasma-desktop,
         ${misc:Depends},
         ${shlibs:Depends},
         supergfxctl
Description: KDE Plasma plasmoid for supergfxctl.
